<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metadata.mapper.BatchMapper">
    <!-- 获取所有批次 -->
    <select id="getAllBatches" resultType="batch">
        select * from metadata.batch
    </select>

    <!-- 插入新的批次 -->
    <insert id="addBatch">
        insert into metadata.batch (year, batch_idx, name, end_time)
        values (#{batch.year}, #{batch.batchIdx}, #{batch.name}, #{batch.endTime})
    </insert>

    <!-- 获取指定批次的项目 -->
    <select id="getBatchProject" resultType="project">
        select * from metadata.project
        where year = #{year} and batch_idx = #{batchIdx}
        <if test="pageNum!=null and pageSize!=null">
            limit #{pageNum}, #{pageSize}
        </if>
    </select>
    
    <select id="getProjectCount" resultType="int">
        select count(*) from metadata.project
    </select>

    <!-- 获取指定批次的书籍 -->
    <select id="getBatchTextbook" resultType="textbook">
        select * from metadata.textbook
        where year = #{year} and batch_idx = #{batchIdx}
        <if test="pageNum!=null and pageSize!=null">
            limit #{pageNum}, #{pageSize}
        </if>
    </select>

    <select id="getTextbookCount" resultType="int">
        select count(*) from metadata.textbook
    </select>

    <select id="getMaxIdxByYear" resultType="int">
        select max(batch_idx) from metadata.batch where year = #{year}
    </select>
</mapper>