<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metadata.mapper.BatchMapper">
    <!-- 获取指定批次的项目 -->
    <select id="getBatchProject" resultType="project">
        select * from metadata.project
        where year = #{year} and batch = #{batch}
    </select>

    <!-- 获取指定批次的书籍 -->
    <select id="getBatchTextbook" resultType="textbook">
        select * from metadata.textbook
        where year = #{year} and batch = #{batch}
    </select>

    <!-- 插入新项目 -->
    <insert id="addProject">
        insert into metadata.project (name, host, username, category_first_level,
                             category_second_level, category_third_level,
                             department, money, start_time, end_time, number,
                             attachment_path, year, batch)
        values (#{project.name}, #{project.host},  #{project.username}, #{project.category_first_level},
                #{project.category_second_level}, #{project.category_third_level},
                #{project.department}, #{project.money}, #{project.start_time}, #{project.end_time}, #{project.number},
                #{project.attachment_path}, #{project.year}, #{project.batch})
    </insert>

    <!-- 插入新书籍 -->
    <insert id="addTextbook">
        insert into metadata.textbook (name, username, editor, publishing_house,
                              publishing_time, selection_time, attachment_path,
                              year, batch)
        values (#{textbook.name}, #{textbook.username}, #{textbook.editor}, #{textbook.publishing_house},
                #{textbook.publishing_time}, #{textbook.selection_time}, #{textbook.attachment_path},
                #{textbook.year}, #{textbook.batch})
    </insert>
</mapper>