<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metadata.mapper.BatchMapper">
    <!--获取所有批次sql-->
    <select id="getAllBatches" resultType="Batch">
        select * from batch
    </select>

    <!--获取指定批次的项目sql-->
    <select id="getBatchProject" resultType="Project">
        select * from project
        where year = #{year} and batch = #{batch}
    </select>

    <!--获取指定批次的书籍sql-->
    <select id="getBatchTextbook" resultType="Textbook">
        select * from textbook
        where year = #{year} and batch = #{batch}
    </select>

    <!--插入新项目sql-->
    <insert id="createProject">
        insert into project (name, host, phone, category_first_level,
                             category_second_level, category_third_level,
                             department, money, start_time, end_time, number,
                             attachment_path, year, batch)
        values (#{project.name}, #{project.host},  #{project.phone}, #{project.category_first_level},
                #{project.category_second_level}, #{project.category_third_level},
                #{project.department}, #{project.money}, #{project.start_time}, #{project.end_time}, #{project.number},
                #{project.attachment_path}, #{project.year}, #{project.batch})
    </insert>

    <!--插入新书籍sql-->
    <insert id="createTextbook">
        insert into textbook (name, phone, editor, publishing_house,
                              publishing_time, selection_time, attachment_path,
                              year, batch)
        values (#{textbook.name}, #{textbook.phone}, #{textbook.editor}, #{textbook.publishing_house},
                #{textbook.publishing_time}, #{textbook.selection_time}, #{textbook.attachment_path},
                #{textbook.year}, #{textbook.batch})
    </insert>
</mapper>