<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.metadata.mapper.ProjectMapper">
    <!-- 获取指定名称项目 -->
    <select id="selectProjectByName" resultType="project">
        select * from metadata.project
        where year = #{year} and batch = #{batch_idx} and name like concat('%',#{name},'%')
    </select>

    <!-- 插入新项目 -->
    <insert id="addProject">
        insert into metadata.project (name, host, preparer, category_first_level,
                                      category_second_level, category_third_level,
                                      department, money, start_time, end_time, number,
                                      attachment_path, year, batch_idx, expand)
        values (#{project.name}, #{project.host},  #{project.preparer}, #{project.categoryFirstLevel},
                #{project.categorySecondLevel}, #{project.categoryThirdLevel},
                #{project.department}, #{project.money}, #{project.startTime}, #{project.endTime}, #{project.number},
                #{project.attachmentPath}, #{project.year}, #{project.batchIdx}, #{project.expand})
    </insert>

    <!-- 删除指定id项目 -->
    <delete id="deleteProjectById">
        delete from metadata.project
        where id = #{id}
    </delete>

    <!-- 获取指定id项目 -->
    <select id="getProjectById" resultType="project">
        select * from metadata.project
        where id = #{id}
    </select>

    <!-- 获取我的项目列表 -->
    <select id="getMyProjects" resultType="project">
        select * from metadata.project
        where host = #{hostname}
    </select>

    <!-- 更新指定id项目 -->
    <update id="updateProject">
        update metadata.project
        set
            name = #{project.name},
            host = #{project.host},
            preparer = #{project.preparer},
            category_first_level = #{project.categoryFirstLevel},
            category_second_level = #{project.categorySecondLevel},
            category_third_level = #{project.categoryThirdLevel},
            department = #{project.department},
            money = #{project.money},
            start_time = #{project.startTime},
            end_time = #{project.endTime},
            number = #{project.number},
            attachment_path = #{project.attachmentPath},
            year = #{project.year},
            batch_idx = #{project.batchIdx},
            expand = #{project.expand}
        where id = #{project.id}
    </update>

    <!-- 获取 project 表最新记录的 id -->
    <select id="getSpProjectId" resultType="int">
        select max(id) from metadata.project
    </select>
</mapper>