<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.metadata.mapper.ProjectMapper">
    <!-- 获取指定名称项目 -->
    <select id="selectProjectByName" resultType="project">
        select * from metadata.project
        where year = #{year} and batch = #{batch_idx} and name like concat('%',#{name},'%')
    </select>

    <!-- 删除指定id项目 -->
    <delete id="deleteProjectById">
        delete from metadata.project
        where id = #{id}
    </delete>

    <!-- 获取指定id项目 -->
    <select id="getProjectById" resultType="project">
        select * from metadata.project
        where id = #{id}
    </select>

    <!-- 获取我的项目列表 -->
    <select id="getMyProjects" resultType="project">
        select * from metadata.project
        where host = #{hostname}
    </select>

    <!-- 更新指定id项目 -->
    <update id="updateProject">
        update metadata.project
        set
            name = #{project.name},
            host = #{project.host},
            username = #{project.username},
            category_first_level = #{project.category_first_level},
            category_second_level = #{project.category_second_level},
            category_third_level = #{project.category_third_level},
            department = #{project.department},
            money = #{project.money},
            start_time = #{project.start_time},
            end_time = #{project.end_time},
            number = #{project.number},
            attachment_path = #{project.attachment_path},
            year = #{project.year},
            batch = #{project.batch}
        where id = #{project.id}
    </update>
</mapper>