<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metadata.mapper.SpMapper">
    <select id="getSpByYearBatchIdx" resultType="sp">
        select * from metadata.sp
        where year = #{year} and batch_idx = #{batchIdx}
    </select>

    <!-- 插入新的 sp 记录 -->
    <insert id="addSp">
        insert metadata.sp (year, batch_idx, project_id, textbook_id)
        values (#{sp.year}, #{sp.batchIdx}, #{sp.projectId}, #{sp.textbookId})
    </insert>
</mapper>
