<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.metadata.mapper.TextbookMapper">
    <!-- 获取指定名称书籍 -->
    <select id="selectTextbookByName" resultType="textbook">
        select * from metadata.textbook
        where year = #{year} and batch = #{batch_idx} and name like concat('%', #{name}, '%')
    </select>

    <!-- 删除指定id书籍 -->
    <delete id="deleteTextbook">
        delete from metadata.textbook
        where id = #{id}
    </delete>

    <!-- 获取指定id书籍 -->
    <select id="getTextbookById">
        select * from metadata.textbook
        where id = #{id}
    </select>

    <select id="getMyTextbooks" resultType="textbook">
        select * from metadata.textbook
        where editor = #{username}
    </select>

    <!-- 更新指定id书籍 -->
    <update id="updateTextbook">
        update metadata.textbook
        set
            name = #{textbook.name},
            phone = #{textbook.phone},
            editor = #{textbook.editor},
            publishing_house = #{textbook.publishing_house},
            publishing_time = #{textbook.publishing_time},
            selection_time = #{textbook.selection_time},
            attachment_path = #{textbook.attachment_path},
            year = #{textbook.year},
            batch = #{textbook.batch}
        where id = #{textbook.id}
    </update>
</mapper>