<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.metadata.mapper.TextbookMapper">
    <!-- 获取指定名称书籍 -->
    <select id="selectTextbookByName" resultType="textbook">
        select * from metadata.textbook
        where year = #{year} and batch = #{batchIdx} and name like concat('%', #{name}, '%')
    </select>

    <!-- 插入新书籍 -->
    <insert id="addTextbook">
        insert into metadata.textbook (name, preparer, editor, publishing_house,
                                       publishing_time, selection_time, attachment_path,
                                       year, batch_idx, expand)
        values (#{textbook.name}, #{textbook.preparer}, #{textbook.editor}, #{textbook.publishingHouse},
                #{textbook.publishingTime}, #{textbook.selectionTime}, #{textbook.attachmentPath},
                #{textbook.year}, #{textbook.batchIdx}, #{textbook.expand})
    </insert>

    <!-- 删除指定id书籍 -->
    <delete id="deleteTextbook">
        delete from metadata.textbook
        where id = #{id}
    </delete>

    <!-- 获取指定id书籍 -->
    <select id="getTextbookById" resultType="textbook">
        select * from metadata.textbook
        where id = #{id}
    </select>

    <select id="getMyTextbooks" resultType="textbook">
        select * from metadata.textbook
        where editor = #{username}
    </select>

    <!-- 更新指定id书籍 -->
    <update id="updateTextbook">
        update metadata.textbook
        set
            name = #{textbook.name},
            preparer = #{textbook.preparer},
            editor = #{textbook.editor},
            publishing_house = #{textbook.publishingHouse},
            publishing_time = #{textbook.publishingTime},
            selection_time = #{textbook.selectionTime},
            attachment_path = #{textbook.attachmentPath},
            year = #{textbook.year},
            batch_idx = #{textbook.batchIdx},
            expand = #{textbook.expand}
        where id = #{textbook.id}
    </update>

    <!-- 获取 Textbook 表最新记录的 id -->
    <select id="getSpTextbookId" resultType="int">
        select max(id) from metadata.textbook
    </select>
</mapper>