<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.metadata.mapper.UserMapper">
    <!-- 通过用户 id 查询用户个人的资料 -->
    <select id="getUserById" resultType="user">
        select * from user where id = #{id}
    </select>

    <!-- 通过手机号码查询用户 -->
    <select id="getUserByPhone" resultType="user">
        select * from user where phone = #{phone}
    </select>

    <!-- 注册，创建用户 -->
    <insert id="createUser">
        insert into user (phone, username, password)
        values (#{phone}, #{username}, #{password})
    </insert>

    <!-- 通过用户对象更新用户个人的资料 -->
    <update id="updateUser">
        update user
        set
            username = #{user.username},
            password = #{user.password}
        where id = #{user.id}
    </update>


    <!-- 获取用户所填写项目的详细信息 -->
    <select id="getUserProject" resultType="project">
        select * from project
        where id = #{id}
    </select>

    <!-- 获取用户所填写书籍的详细信息 -->
    <select id="getUserTextbook" resultType="textbook">
        select * from textbook
        where id = #{id}
    </select>

</mapper>